 <!-- header-->
 <nav class="navbar navbar-expand-lg navbar-light  b-1" style= "background-color: #D0D3D5 ; height: 90px;">
    <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="/images/home/logo.png" alt=""></a>
    
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home" >Home </a>
        </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/Initiatives" > Initiatives </a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" href="/Developers">Developers  </a>
      </li>
      
      
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
  
        
        
      </ul>
    
      
      <div class=" ms-auto ">
      
        <a id="w3loginbtn" class="w3-bar-item w3-btn bar-item-hover w3-right p-2" style="display: inline; width: 200px; background-color: #008ecd; color: white; border-radius: 25px; text-decoration: none;" href="/profile" target="_self"><i class="bi bi-person-square"></i></a>
    
      </div>
      </div>
    </div>
  </nav>