<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <link rel="stylesheet" href="css/places.css" />
   
    <title> Initiatives </title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light  b-1" style= "background-color: #D0D3D5 ; height: 90px;">
        <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="/images/home/logo.png" alt=""></a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="home" >Home </a>
            </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/Initiatives"  > Initiatives </a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" href="/Developers" >Developers  </a>
          </li>
          
          
            <li class="nav-item">
              <a class="nav-link" href="#" style=" background-color: #008ecd; color: white;">about</a>
            </li>
            
            
          </ul>
        
          <div class=" ms-auto ">
    
            <a id="w3loginbtn" class="w3-bar-item w3-btn bar-item-hover w3-right p-2" style="display: inline; width: 200px; background-color: #008ecd; color: white; border-radius: 25px; text-decoration: none;" href="/profile" target="_self"><i class="bi bi-person-square"></i></a>
        
          </div>
          </div>
        </div>
      </nav>


      <h1 class="title p-3">  About Toursim of Asir area </h1>

  <!-- Carousel -->





  <div class="p-5">
  <p class=" text-left p-0 pb-3" style="font-size: 20px;" >  
  
    About the Project : <br>
    This project aims to present Asir Toursim area and show the visitors about beautiful places around Asir area. <br>
    One the of the objectives of this Applection:- <br>
    1. Strengthening marketing in the Asir region to show the beauty of nature. <br>
    2. Develop an application to show the most important places in the Asir region. <br>
    3. To provide our application with GPS technology to reduce the difficulty of the terrain places.
  
  
  
  </p>
  </div>


  

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
	
    
</body>
</html>