<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="./css/main3.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<title>Tourism</title>
</head>

<body>
 <!-- header-->
 <nav class="navbar navbar-expand-lg navbar-light  b-1" style= "background-color: #D0D3D5 ; height: 90px;">
  <div class="container-fluid">
  <a class="navbar-brand" href="#"><img src="/images/home/logo.png" alt=""></a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home" style=" background-color: #008ecd; color: white;">Home </a>
      </li>
    
    <li class="nav-item">
      <a class="nav-link" href="/Initiatives" > Initiatives </a>
    </li>
   
    <li class="nav-item">
      <a class="nav-link" href="/Developers">Developers  </a>
    </li>
    
    
      <li class="nav-item">
        <a class="nav-link" href="/About">About</a>
      </li>

      
      
    </ul>
  
    
    <div class=" ms-auto ">
    
      <a id="w3loginbtn" class=" w3-right p-2 " style="  color: #008ecd; border-radius: 25px; text-decoration: none;" href="/login" target="_self">
        <i class="fa-solid fa-arrow-right-to-bracket" style="font-size: 40px;"></i><br> Login</a>

  
    </div>
    </div>
  </div>
</nav>





<div class=" content row  pt-3">
    
  <div class="col-sm-6" >
<div class='card mb-5' style="background-image: url(/images/home/abha.jpg) ;" >
  <div class='info'>
    <h1 class='title'>ابها </h1>
    <p class='description'> تعتبر مدينة أبها من أهم المصائف والمدن السياحية في المملكة العربية السعودية، بسبب اعتدال مناخها وارتفاعها الكبير عن سطح البحر فإنها تسمى أيضاً عروس الجبل كما تسمى سيدة الضباب وكذلك أبها البهية بسبب الجمال الطبيعي الذي تتميز به قع على جبال الحجاز ويجاورها من الشرق والشمال الشرقي محافظة خميس مشيط، ومن الشمال الغربي محافظة النماص، ومن جهة الغرب والجنوب الغربي محافظة محايل عسير ومحافظة رجال ألمع.</p>
    <a class="cardLink" href="/login"> سجل الدخول للوصول لكامل مزايا الموقع </a>
    
  </div>
</div>

  </div>



<div class="col-sm-6" >
<div class='card mb-5' style="background-image: url(/images/home/rjalalma.jpg);">
  <div class='info'>
    <h1 class='title'>رجال المع </h1>
    <p class='description'>رُجال ألمع محافظة تقع في الجهة الغربية من منطقة عسير في المملكة العربية السعودية وتمثل تاريخ مزدهر يعود لأكثر من 350 عاما ولا تزال محتفظة بجماليتها الظاهرة في أبراجها المطعّمة بالكوارتز الأبيض؛ ما رشّح رجال ألمع لأن تكون إحدى المواقع المسجلة في قائمة التراث العالمي لليونسكو</p>
    <a class="cardLink" href="/login"> سجل الدخول للوصول لكامل مزايا الموقع </a>

  </div>
</div>

</div>




<div class="col-sm-6" href="Muhail" >
<div class='card mb-5' style="background-image: url(/images/home/muhyl.jpg);" >
  <div class='info'>
    <h1 class='title'>محايل عسير</h1>
    <p class='description'>إحدى محافظات منطقة عسير ، تقع في الجنوب الغربي من للمملكة العربية السعودية شمال غرب مدينة أبها عاصمة منطقة عسير بحوالي 80 كيلومتراً. يحدها من الشمال محافظة بارق، ومن الجنوب محافظة رجال ألمع، ومن الشرق مدينة أبها مقر إمارة منطقة عسير، ومن الغرب محافظة البرك.</p>
    <a class="cardLink" href="/login"> سجل الدخول للوصول لكامل مزايا الموقع </a>
  </div>
</div>

</div>


<div class="col-sm-6" href="Sodah" >
<div class='card mb-5' style="background-image: url(/images/home/soda.jpg);" >
  <div class='info'>
    <h1 class='title'>السودة</h1>
    <p class='description'>السودة هو أعلى جبل المملكة العربية السعودية ضمن سلسلة جبال عسير، حيث يبلغ ارتفاعه 3،133 مترًا. ويكسو الجبل أشجار العرعر الكثيفة مكونة غابات طبيعية. توجد به قرية سياحية تبعد عن مدينة أبها 20 كلم، وعلى ارتفاع 3015 متر عن سطح البحر. ولها تلفريك يصل إلى أعلى الجبل</p>
    <a class="cardLink" href="/login"> سجل الدخول للوصول لكامل مزايا الموقع </a>
  </div>
</div>

</div>




<div class="col-sm-6" href="Harida" >
<div class='card mb-5' style="background-image: url(/images/home/hurada.jpeg" >
  <div class='info'>
    <h1 class='title'>الحريضة</h1>
    <p class='description'>إحدى مراكز محافظة رجال ألمع، تقع في جنوب غرب المحافظة على مسافة 120 كيلاً.تمتد الواجهه البحرية فيها   لأكثر من 4 كلم وتعد إضافة سياحية هامة للمنطقة، حيث ستوفر: مطاعم، سينما، مسارات للدراجات، شاليهات، طيران شرعي، مركز للغوص وغيرها</p>
    <a class="cardLink" href="/login"> سجل الدخول للوصول لكامل مزايا الموقع </a>
  </div>
</div>

</div>


<div class="col-sm-6"  >
<div class='card mb-5' style="background-image: url(/images/home/nmas.jpg)" >
  <div class='info'>
    <h1 class='title'>النماص</h1>
    <p class='description'>  النماص محافظة تقع في شمال منطقة عسير جنوب غرب المملكة العربية السعودية على سلسلة جبال الحجاز ، تمتاز بالطبيعة وبكثافة الغطاء النباتي، واعتدال المناخ صيفًا. ويوجد في المدينة العديد من الخدمات الحكومية. وتقع النماص على الخط الإقليمي «طريق الحجاز» (الطائف -أبها) وتبعد عن مدينة الطائف جنوباً 380 كم وعن مدينة أبها 170 كم شمالًا</p>
    <a class="cardLink" href="/login"> سجل الدخول للوصول لكامل مزايا الموقع </a>
  </div>
</div>

</div>






</div>

<!--Footer-->
<footer class="py-5 bg-dark">
<div class="container"><p class="m-0 text-center text-white">Copyright &copy; Tourism 2022</p></div>
</footer>
        
      


<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
	
</body>
</html>