@charset "utf-8";
/* CSS Document */
.title{
	text-align: center;
}
body{
	background-color: #f6f5f0;

}
.card{
	box-shadow: -1px 15px 30px -10px black;
	
}

.card-img-top{
	height: 300px;
}
.card-wr-bg:hover{
	/*background-color: #f4dd97;*/
	cursor: pointer;
	transition: all 1s ease;
    transform: scale(1.04);
}
.card-s-bg:hover{
	/*background-color: #8bdfb8; */
	cursor: pointer;
	transition: all 1s ease;
    transform: scale(1.04);
}
.card-d-bg:hover{
	/*background-color: #f07a85; */
	cursor: pointer;
	transition: all 1s ease;
    transform: scale(1.04);
}
.card-footer{
	justify-content:space-around;
	text-align: center;
	display: flex;
	padding: 0px!important;
}
.card-footer div{
	flex-grow: 1 !important;
	border-right: 1px solid #dbdbdb;
	padding: 10px 0;
}
.card-footer div:last-child{
    border-right: none;	
	

}

